theme = Niji
shell-integration = zsh

font-family = JetBrains Mono
font-size = 12
font-feature = -calt

window-decoration = true
window-padding-x = 10
window-padding-y = 5

# Tabs and splits creating
keybind = ctrl+t=new_tab
keybind = ctrl+w=close_tab
keybind = alt+shift+r=new_split:right
keybind = alt+shift+d=new_split:down

# Tab navigation
keybind = alt+shift+left=next_tab
keybind = alt+shift+right=previous_tab
keybind = alt+1=goto_tab:1
keybind = alt+2=goto_tab:2
keybind = alt+3=goto_tab:3
keybind = alt+4=goto_tab:4
keybind = alt+5=goto_tab:5

# Split navigation
keybind = alt+up=goto_split:up
keybind = alt+down=goto_split:down
keybind = alt+left=goto_split:left
keybind = alt+right=goto_split:right
